<ng-container *ngIf="data$ | async as data">
  <main>
    <mat-card>
      <section>
        <h2>PREDMETI</h2>
        <div class="justify-content-space-between">
          <mat-form-field appearance="outline">
            <mat-label>{{ 'Search' }} </mat-label>
            <input matInput autocomplete="on" />
          </mat-form-field>
        </div>
        <table
          mat-table
          [dataSource]="data.data.result!"
          class="mat-elevation-z8"
        >
          <ng-container matColumnDef="nameSubject">
            <th mat-header-cell *matHeaderCellDef class="nameSubject">
              {{ 'Naziv predmeta' }}
            </th>
            <td mat-cell *matCellDef="let element" class="nameSubject">
              {{ element.name }}
            </td>
          </ng-container>

          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef class="type">
              {{ 'tip' }}
            </th>
            <td mat-cell *matCellDef="let element" class="type">
              {{ element.courseType }}
            </td>
          </ng-container>

          <ng-container matColumnDef="professors">
            <th mat-header-cell *matHeaderCellDef class="professors">
              {{ 'Profesor' }}
            </th>
            <td mat-cell *matCellDef="let element" class="professors">
              {{ element.lecturerFirstName + ' ' + element.lecturerLastName }}
            </td>
          </ng-container>

          <ng-container matColumnDef="studies">
            <th mat-header-cell *matHeaderCellDef class="studies">
              {{ 'Studije' }}
            </th>
            <td mat-cell *matCellDef="let element" class="studies">
              {{ element.studies }}
            </td>
          </ng-container>

          <ng-container matColumnDef="year">
            <th mat-header-cell *matHeaderCellDef class="year">
              {{ 'Godina' }}
            </th>
            <td mat-cell *matCellDef="let element" class="year">
              {{ element.studyYear }}
            </td>
          </ng-container>

          <ng-container matColumnDef="espb">
            <th mat-header-cell *matHeaderCellDef class="espb">
              {{ 'ESPB' }}
            </th>
            <td mat-cell *matCellDef="let element" class="espb">
              {{ element.espb }}
            </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef class="action">
              {{ 'Akcije' }}
            </th>
            <td mat-cell *matCellDef="let element" class="action">
              <mat-icon
                class="material-symbols-outlined cursor"
                (click)="$event.stopPropagation()"
                >edit</mat-icon
              >
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <mat-paginator
          [length]="data.data.count"
          [pageSize]="data.pageSize"
          [pageSizeOptions]="[10, 20, 50]"
          [showFirstLastButtons]="true"
          (page)="updatePagination($event.pageIndex, $event.pageSize)"
        >
        </mat-paginator>
      </section>
    </mat-card>
  </main>
</ng-container>
