<div class="header-wrapper-dialog">
  <h2 mat-dialog-title>{{ data?.uid ? 'Izmeni Predmet' : 'Dodaj Predmet' }}</h2>
  <button mat-button (click)="closeDialog()">
    <mat-icon class="material-symbols-outlined">close</mat-icon>
  </button>
</div>

<form [formGroup]="form">
  <div class="form-container">
    <div class="form-field">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Ime</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>
    </div>
    <div class="form-row">
      <mat-form-field appearance="outline">
        <mat-label>Tip</mat-label>
        <input matInput formControlName="type" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="professor-select">
        <mat-label>Profesor</mat-label>
        <mat-select formControlName="professor">
          <mat-option
            *ngFor="let option of professors"
            [value]="option.value"
            >{{ option.viewValue }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-row">
      <mat-form-field appearance="outline" class="third-width">
        <mat-label>Godina</mat-label>
        <input matInput formControlName="year" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="third-width">
        <mat-label>Semestar</mat-label>
        <input matInput formControlName="semester" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="third-width">
        <mat-label>ESPB bodovi</mat-label>
        <input matInput formControlName="points" />
      </mat-form-field>
    </div>
  </div>

  <div class="btn-save-wrapper">
    <button mat-raised-button (click)="saveChanges()">Sacuvaj</button>
  </div>
</form>
