<main>
  <mat-card>
    <mat-card-content>
      <div class="header">
        <h1>Student</h1>
      </div>
      <form [formGroup]="form">
        <div class="rows-wrapper">
          <div class="row">
            <mat-form-field appearance="outline">
              <mat-label>Ime</mat-label>
              <input matInput formControlName="firstName" />
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Prezime </mat-label>
              <input matInput formControlName="lastName" />
            </mat-form-field>
          </div>

          <div class="row">
            <mat-form-field appearance="outline">
              <mat-label>Email </mat-label>
              <input matInput formControlName="email" type="email" />
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Index </mat-label>
              <input matInput formControlName="index" />
            </mat-form-field>
          </div>

          <div class="row">
            <mat-form-field appearance="outline">
              <mat-label>Pol</mat-label>
              <mat-select>
                @for (gender of genders; track gender) {
                <mat-option [value]="gender.value">{{
                  gender.viewValue
                }}</mat-option>
                }
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Godina studiranja</mat-label>
              <input matInput formControlName="yearOfStudy" type="number" />
            </mat-form-field>
          </div>
        </div>

        <div class="btn-save-wrapper">
          <button mat-raised-button (click)="submit()">Sacuvaj</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</main>
