<main>
  <ng-container *ngIf="data$ | async as data">
    <mat-card>
      <div style="display: flex; width: 100%">
        <div style="display: flex; width: 40%">
          <iframe
            *ngIf="pdfData"
            [src]="pdfData"
            width="100%"
            height="100%"
            webkitallowfullscreen
            mozallowfullscreen
            allowfullscreen
          ></iframe>
        </div>

        <div
          style="
            display: flex;
            flex-direction: column;
            width: 60%;
            margin-left: 16px;
          "
        >
          <div class="header">
            <p style="font-size: 20px">{{ data.examPeriod.name }}</p>
            <h2 style="margin-bottom: 6px">{{ data.courseName }}</h2>
            <div
              style="display: flex; flex-direction: column; align-items: center"
            >
              <span>{{
                data.type + ', ' + data.numberOfTasks + ' zadataka'
              }}</span>
              <span>{{ data.examDate | date : 'dd. MM.YYY' }}</span>
            </div>
          </div>
          <form [formGroup]="form">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Beleske </mat-label>
              <textarea
                matInput
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="8"
                cdkAutosizeMaxRows="10"
                formControlName="note"
                readonly="true"
              ></textarea>
            </mat-form-field>
          </form>
        </div>
      </div>
    </mat-card>
  </ng-container>
</main>
