<body>
  <main>
    <mat-card *ngIf="data$ | async as data">
      <section>
        <div class="header">
          <h2>Dodaj blanket</h2>
        </div>

        <form [formGroup]="form">
          <div class="form-container">
            <div class="form-field">
              <mat-form-field appearance="outline" class="professor-select">
                <mat-label>Ispitni rok</mat-label>
                <mat-select formControlName="deadline">
                  <mat-option
                    *ngFor="let examPeriod of data.examPeriods"
                    [value]="examPeriod.uid!"
                  >
                    {{ examPeriod.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="form-row">
              <mat-form-field appearance="outline" class="professor-select">
                <mat-label>Predmet</mat-label>
                <mat-select formControlName="subject">
                  <mat-option
                    *ngFor="let subject of data.courses"
                    [value]="subject.uid!"
                  >
                    {{ subject.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="form-row">
              <mat-form-field appearance="outline">
                <mat-label>Tip</mat-label>
                <mat-select formControlName="type">
                  <mat-option
                    *ngFor="let examType of examTypes"
                    [value]="examType.value"
                  >
                    {{ transformLabel(examType.label) }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Broj zadatka</mat-label>
                <input
                  matInput
                  formControlName="numberTask"
                  type="number"
                  maxlength="2"
                />
              </mat-form-field>
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Datum</mat-label>
                <input
                  matInput
                  [matDatepicker]="picker"
                  formControlName="date"
                />
                <mat-datepicker-toggle
                  matIconSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>

            <div class="form-row">
              <div class="form-group">
                <mat-label>File:</mat-label>

                <input
                  type="file"
                  #file
                  placeholder="Choose file"
                  (change)="uploadFile(file.files)"
                  style="display: none"
                />
                <button mat-raised-button (click)="file.click()">
                  Upload File
                </button>
              </div>

              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Beleske </mat-label>
                <textarea
                  matInput
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="5"
                  cdkAutosizeMaxRows="8"
                  formControlName="note"
                ></textarea>
              </mat-form-field>
            </div>
          </div>

          <div class="btn-save-wrapper">
            {{ message }}
            <button mat-raised-button (click)="save()">Sacuvaj</button>
          </div>
        </form>
      </section>
    </mat-card>
  </main>
</body>
