section {
  margin: 24px;
}
body {
  background: #cbce91;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #cbce91;
  mat-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 80%;
  }
}

.header {
  display: flex;
  justify-content: center;
}

.form-field,
.form-row {
  display: flex;
  gap: 16px;
  mat-form-field {
    width: 100% !important;
  }
}

.btn-save-wrapper {
  display: flex;
  justify-content: flex-end;
}
